<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Changelog</div>


    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 7, 2018</div>
        <div class = "rule-body">
            <ul>
                <!-- <li>Added a "request a definition" button. Switched from logging every incoming search as a request to a more delibirate user action - requesting a definition for a term (only available to logged in users)</li> -->
                <li>Added this changelog</li>
                <li>Updated footer style</li>
                <li>Add press page</li>
            </ul>
        </div>
    </div>
    <!--  -->


</div>

<% include partials/_footer.ejs %>

