<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Changelog</div>


    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 11, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Searches with +, *, (), [], and other non-alphanumeric characters are now displaying correctly</li>
                <li>Line breaks are now preseved; multiple line breaks are collapsed to one line break</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 8, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Added a "request a definition" button. Switched from logging every incoming search as a request to a more delibirate user action - requesting a definition for a term (only available to logged in users)</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 7, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Added this changelog</li>
                <li>Updated footer style</li>
                <li>Added <a href = "/press" target = "_blank">press page</a></li>
            </ul>
        </div>
    </div>
    <!--  -->


</div>

<% include partials/_footer.ejs %>

