<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Changelog</div>


    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 14, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Happy Pi day! Please have some pie :)</li>
                <li>Signup flow now checks for duplicate emails. Previously, you could sign up with two usernames using one email. This is no longer the case - one email, one username per user.</li>
                <li>Added a Formatting reference to the Add Definition modal.</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 13, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Top searched and most requested term headings are now tabs</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 12, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Contributors now receive notifications when new comments are left on their definitions</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 11, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Searches with +, *, (), [], and other non-alphanumeric characters are now displaying correctly</li>
                <li>Line breaks are now preseved (and show up in past definitions!); multiple line breaks are collapsed to one line break</li>
                <li>Markdown support is now enabled for <span class = "bold">*bold*</span>, <em>_italics_</em>, and <code>`code`</code></li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 8, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Added a "request a definition" button. Switched from logging every incoming search as a request to a more delibirate user action - requesting a definition for a term (only available to logged in users)</li>
            </ul>
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title">March 7, 2018</div>
        <div class = "rule-body">
            <ul>
                <li>Added this changelog</li>
                <li>Updated footer style</li>
                <li>Added <a href = "/press" target = "_blank">press page</a></li>
            </ul>
        </div>
    </div>
    <!--  -->


</div>

<% include partials/_footer.ejs %>

