<% include partials/_header.ejs %>

    <div id = "password-reset-section" class = "standalone-password-reset-page" data-token = <%= token %>>   
        <div class = "account-title standalone-title">
            Enter your new password
        </div>

        <div class = "report-error password-error"></div>
        <input type = "password" id = "password-reset" placeholder = "password"><br>
        <input type = "password" id = "password-reset-confirmation" placeholder = "confirm password">

        <button class = "account-submit-button" id = "password-reset-submit-action">Reset password</button>
    </div>

<% include partials/_footer.ejs %>