<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Press</div>

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title"><a href = "http://betica.com/blog/2018/03/09/an-urban-dictionary-for-software-developers/" target = "_blank">Betica.com</a></div>
        <div class = "rule-body">
            <span class = "bold">March 9, 2018</span>: An Urban Dictionary for Software Developers
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title"><a href = "https://jaxenter.com/hackterms-developer-dictionary-142205.html" target = "_blank">JAXenter</a></div>
        <div class = "rule-body">
            <span class = "bold">March 8, 2018</span>: Hackterms: A crowd-sourced developer dictionary
        </div>
    </div>
    <!--  -->

    <!-- this is one update -->
    <div class = "one-rule">
        <div class = "rule-title"><a href = "https://insights.dice.com/2018/03/01/hackterms-urban-dictionary-tech-pros/" target = "_blank">Dice</a></div>
        <div class = "rule-body">
            <span class = "bold">March 1, 2018</span>: ‘Hackterms’ Is Like Urban Dictionary for Tech Pros, and It’s Awesome
        </div>
    </div>
    <!--  -->

</div>

<% include partials/_footer.ejs %>

