<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Privacy</div>

    <div class = "one-rule">
        <div class = "rule-title">What account data do you collect and keep?</div>

        <div class = "rule-body">When you sign up for an account, Hackterms stores your email, username, and a <a class = "bold" href = "https://www.hackterms.com/hash" target = "_blank">hashed</a> version of your password. Your email will never be shared with any 3rd party without your explicit permission, and is used solely to communicate with the users of the website regarding their interaction with Hackterms.</div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">What other data do you collect and keep?</div>

        <div class = "rule-body">Hackterms tracks and stores:
            <ul>
                <li><span class = "bold">Searches:</span> the website stores every searched term. Hackterms doesn't record which user (or visitor) searched this term. This data is used to calculate the most popular terms on the site, and the most requested terms that haven't been defined yet.</li>
                <li><span class = "bold">Definition Requests:</span> when you request a definition for a term, Hackterms associates that term with your username.</li>
                <li><span class = "bold">Visits:</span> Hackterms uses Google Analytics to track visit data. You can read more about the data GA collects and stores <a href = "https://developers.google.com/analytics/resources/concepts/gaConceptsTrackingOverview#howAnalyticsGetsData" class = "bold" target = "_blank"> here</a>. Hackterms uses Google Analytics data to provide a better experience to its users. </li>
                <li><span class = "bold">Votes:</span> the website stores the IP, timestamp, and username (if a user is logged in) of every vote. This is done to track how a definitions performs over time, and to ensure that a visitor can't vote on the same term multiple times.
                </li>
            </ul>
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Does Hackterms use cookies?</div>

        <div class = "rule-body">
            Hackterms uses <a class = "bold" href = "https://www.hackterms.com/cookie" target = "_blank">cookies</a> to better your browsing experience.
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Can I delete my account?</div>

        <div class = "rule-body">
            You can delete your account and any associated data - as listed above - any time by navigating to <a href = "/profile" class = "bold" target = "_blank"> your profile</a> and clicking the <span class = "bold">delete account</span> button under your username.
        </div>
    </div>




    <div class = "one-rule rule-blurb privacy-policy">
        <div class = "page-title">Terms of Service</div>
        <h3>1. Terms</h3>
        <p>By accessing the website at <a href="https://www.hackterms.com">https://www.hackterms.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
        <h3>2. Use License</h3>
        <ol type="a">
           <li>Permission is granted to temporarily download one copy of the materials (information or software) on Hackterms' website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
           <ol type="i">
               <li>modify or copy the materials;</li>
               <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
               <li>attempt to decompile or reverse engineer any software contained on Hackterms' website;</li>
               <li>remove any copyright or other proprietary notations from the materials; or</li>
               <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
           </ol>
            </li>
           <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Hackterms at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
        </ol>
        <h3>3. Disclaimer</h3>
        <ol type="a">
           <li>The materials on Hackterms' website are provided on an 'as is' basis. Hackterms makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
           <li>Further, Hackterms does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
        </ol>
        <h3>4. Limitations</h3>
        <p>In no event shall Hackterms or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Hackterms' website, even if Hackterms or a Hackterms authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
        <h3>5. Accuracy of materials</h3>
        <p>The materials appearing on Hackterms' website could include technical, typographical, or photographic errors. Hackterms does not warrant that any of the materials on its website are accurate, complete or current. Hackterms may make changes to the materials contained on its website at any time without notice. However Hackterms does not make any commitment to update the materials.</p>
        <h3>6. Links</h3>
        <p>Hackterms has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Hackterms of the site. Use of any such linked website is at the user's own risk.</p>
        <h3>7. Modifications</h3>
        <p>Hackterms may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
        <h3>8. Governing Law</h3>
        <p>These terms and conditions are governed by and construed in accordance with the laws of New York and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        
        <h2>Privacy Policy</h2>
        <p>Your privacy is important to us. It is Hackterms' policy to respect your privacy regarding any information we may collect from you across our website, <a href="https://www.hackterms.com">https://www.hackterms.com</a>, and other sites we own and operate.</p>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
        <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
        <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
        <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
        <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
        <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>



        <h2>Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h2>
        
        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Hackterms aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</p>

        <p>If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please contact by sending an email to <a href="mailto:hello@hackterms.com" class= "bold" target="_blank">hello@hackterms.com</a>.</p>

        <p>In certain circumstances, you have the following data protection rights:</p>

        <ul>

            <li>The right to access, update or to delete the information we have on you.</li>
            <li>The right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete.</li>
            <li>The right to object. You have the right to object to our processing of your Personal Data.</li>
            <li>The right of restriction. You have the right to request that we restrict the processing of your personal information.</li>
            <li>The right to data portability. You have the right to be provided with a copy of your Personal Data by sending an email to <a href="mailto:hello@hackterms.com" class= "bold" target="_blank">hello@hackterms.com</a>.</li>
            <li>The right to withdraw consent. You also have the right to withdraw your consent at any time where TermsFeed relied on your consent to process your personal information.</li>
            <li>Provided you have made a reasonable effort to <a href="mailto:hello@hackterms.com" class= "bold" target="_blank">contact Hackterms via email</a> to resolve your question, you have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</li>
        </ul>

        <p>This policy is effective as of 25 May 2018.</p>
    </div>



</div>

<% include partials/_footer.ejs %>

