<% include partials/_header.ejs %>

<div id = "main-section">

    <div class = "page-title">Da Rules</div>

    <div class = "one-rule rule-blurb">
        <div class = "rule-body">These are guidelines to help contributors create helpful, high-quality content. If your definition breaks these rules, it may be removed from the site. Use your common sense, and if anything here doesn't look right, please <a href="mailto:hello@hackterms.com">reach out</a> and let us know!
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Terms must be related to code and topically accurate </div>

        <div class = "rule-body">Please only define programming-related terms. Terms only tangentially related ("Ramen: the lifeblood of the junior dev") will be removed. We do <span class = "bold">not</span> review submission for technical accuracy, but do review them for topical accuracy. For example, it's fine to say React.js is a language (though this is technically incorrect), but not that it's a type of hamburger.
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Define, then share your opinion</div>

        <div class = "rule-body">A definition should first explain what something is. You can then offer alternatives or pros/cons on the topic. Your definition should not be purely subjective (Ex: "PHP: the worst language you can use").
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Avoid inside jokes (regular jokes are good!)</div>

        <div class = "rule-body">Use your voice and be humorous if you want - but try to write definitions that are helpful to a wide audience.
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Don't copy other resources</div>

        <div class = "rule-body">Please make an effort to write your own definition. it's fine to paraphrase or quote from other sources, but don't directly copy definitions from Wikipedia, StackOverflow, MDN, or other sources. 
        </div>
    </div>

    <div class = "one-rule">
        <div class = "rule-title">Don't discriminate or spam</div>

        <div class = "rule-body">Try to be a supportive and respectful fellow programmer. If your definition attacks someone or  is offensive, abusive, or disrespectful to other users on the basis of race, gender, political or religious beliefs, or sexual orientation, it will be removed.
        </div>
    </div>


</div>

<% include partials/_footer.ejs %>

