<% include partials/_header.ejs %>

    <div id = "select-username-section">   

        <div class = "account-title standalone-title">
            Please Select a Username
        </div>

        <div id = "username-error" class = "report-error password-error"></div>
        <input type = "text" id = "new-username" placeholder = "username"><br>

        <button id = "username-submit-button">Select Username</button>
    </div>

<% include partials/_footer.ejs %>