<% include ../partials/_header.ejs %>

<div id = "main-section">

    <h2><span class = "profile-username"><%= username %></h2>

    <div class = "profile-links">
        <a class = "profile-section-tab active-profile-tab" href = "/profile/<%= username %>/definitions">Definitions</a>
        <a class = "profile-section-tab" href = "/profile/<%= username %>/comments">Comments</a> 
        <% if (displayFullProfile) { %> 
            <a class = "profile-section-tab" href = "/profile/<%= username %>/status">Submissions</a>
        <% } %>
    </div>

    <div id = "definitions-section">
        <div class = 'definition-accent'>This user hasn't added any definitions yet</div>
    </div>


</div>


<% if (displayFullProfile) {  %> 
    <button id = "delete-account">Delete my account</button>
    <div id = "delete-account-warning">
        Deleting your account will remove your user data, search, and visit data, but will NOT delete your comments or definitions. You can delete a definition or comment  from <a href = "/profile">your profile </a> by clicking the <span class = "action-icon"><i class="far fa-trash-alt" aria-hidden="true"></i></span> on the top right of your post.
    <br><br>
        <button id = "confirm-delete-account">I want to delete my account</button>
    </div>
<% } %> 

<% include ../partials/_footer.ejs %>